.accordion {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.accordion-item {
  height: 0;
  overflow: hidden;
}

.accordion-item-open {
  height: auto;
  margin-top: 0.5rem;
}

.accordion-item a {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
}

.accordion-item-open svg path {
  width: 1.5rem;
}

.accordion-item-open svg {
  display: block;
  width: 1.5rem;
}
