.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar svg {
  width: 230px;
  height: 100%;
}

@media (min-width: 768px) {
  .top-bar svg {
    width: 350px;
  }
}
