* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  width: 100%;
}

html {
  font-family: "Waldenburg";
  letter-spacing: 4%;
  font-size: 16px;
  line-height: 100%;
  color: var(--color-black);
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

h1 {
  display: none;
}

h2 {
  width: 100%;
  line-height: 100%;
  text-transform: uppercase;
  margin: 1rem 0 1rem;
}
