@font-face {
  font-family: "Waldenburg";
  src: url("../fonts/KMRWaldenburg-CondensedThin.woff2") format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Waldenburg";
  src: url("../fonts/KMRWaldenburg-CondensedLight.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Waldenburg";
  src: url("../fonts/KMRWaldenburg-Condensed.woff2") format("woff2");
}

@font-face {
  font-family: "Waldenburg";
  src: url("../fonts/KMRWaldenburg-CondensedBook.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Waldenburg";
  src: url("../fonts/KMRWaldenburg-CondensedMedium.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Waldenburg";
  src: url("../fonts/KMRWaldenburg-CondensedBold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Waldenburg";
  src: url("../fonts/KMRWaldenburg-CondensedBlack.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Waldenburg";
  src: url("../fonts/KMRWaldenburg-CondensedHeavy.woff2") format("woff2");
  font-weight: 900;
}
