:root {
  --color-black: #1e1c21;
  --color-substitution: #939393;
  --color-red: #bf1523;
  --color-beige: #fffdf9;
}

html {
  background: var(--color-beige);
}

header {
  width: 100%;
  position: fixed;
  padding: 1rem;
}

main {
  padding-top: 5.5rem;
}
