:root {
  --color-black: #1e1c21;
  --color-gray: #c0c0c0;
  --color-red: #bf1523;
  --color-white: #fffdf9;
}

html {
  background: var(--color-white);
}

header {
  width: 100%;
  position: fixed;
  padding: 0.5rem;
  background-color: var(--color-white);
}

main {
  padding-top: 5.5rem;
}
