:root {
  --color-black: #1e1c21;
  --color-red: #bf1523;
  --color-beige: #e6ded1;
}

body {
  background: var(--color-beige);
  margin: 0 15px;
}

html {
  background-color: rgb(226, 255, 255);
  // background temporaire
}
